@model List<Chef>

<section id="chefs" class="chefs section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Chefs</h2>
            <p>Our <span>Proffesional</span> Chefs</p>
        </div>

        <div class="row gy-4">

            @foreach (Chef chef in Model)
            {
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="chef-member">
                        <div class="member-img">
                            @foreach (Testimonial testimonial in chef.Testimonials)
                            {
                                <img src="@testimonial.Image" class="img-fluid" alt="">



                            }

                            <div class="social">
                                @foreach (ChefSocialMedia chefSocialMedia in chef.ChefSocialMedias)
                                {
                                    <a href="@chefSocialMedia.TwitterUrl"><i class="bi bi-twitter"></i></a>
                                    <a href="@chefSocialMedia.FbUrl"><i class="bi bi-facebook"></i></a>
                                    <a href="@chefSocialMedia.IgUrl"><i class="bi bi-instagram"></i></a>
                                    <a href="@chefSocialMedia.InUrl"><i class="bi bi-linkedin"></i></a>



                                }
                               ]
                            </div>
                        </div>
                        <div class="member-info">
                            <a asp-controller="Home" asp-action="Chef"> <h4> @chef.Name</h4></a>
                            @foreach (Profession profession in chef.Profession)
                            {
                                <span>@profession.Name</span>
                               
                            }
                            @foreach (Testimonial testimonial in chef.Testimonials)
                            {
                              <p> @testimonial.About</p>

                          


                            }
                          

                        </div>
                    </div>
                </div>

                <!-- End Chefs Member -->
            }




        </div>

    </div>
</section><!-- End Chefs Section -->